@model IEnumerable<MVPTest.Models.InfoExtraViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Your Details", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Information.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.CellNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information.FavCol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extram.Music)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extram.Tv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extram.Soccer)
        </th>
        <th>Addtional Details</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Information.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information.CellNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information.FavCol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extram.Music)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extram.Tv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extram.Soccer)
        </td>
        <td>@Html.ActionLink("Add more", "Create", new { id = item.Information.Id })</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Information.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Information.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Information.Id })
        </td>
    </tr>
}

</table>
